__pycache__
db.sqlite3
project.sql.gz
.coverage
.env
.idea
media
node_modules
env
env-deploy
*.retry
.python-version
.vault_pass
.vagrant
*.log
webpack-stats.json
node_modules/
deploy/roles/application/
deploy/roles/database/
deploy/roles/httpd/
deploy/roles/logging/
deploy/roles/maintenance/
deploy/roles/system_config/
deploy/roles/system_packages/
deploy/roles/users_and_groups/
deploy/roles/uwsgi/
dist/
